/*axustes inciales*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
figure {
  margin: 0;
  padding: 0;
}
/**/
/*cabecera*/
header{
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background: #bbb;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: fit-content;
  min-height: 90vh;
  position: relative;
  margin: 0 auto;
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
}
.controles{
  width: 100%;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}
#tablero {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 4px;
}
.casilla {
  position: relative;
  width: 100%;
  height: auto;
  background: #888;
  border-radius: 2px;
  box-shadow: 0.5px 0.5px 0px #888, 1px 1px 0px #888, 1.5px 1.5px 0px #888,
    2px 2px 0px #888, 2.5px 2.5px 0px #888;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: default;
}
.casilla:hover {
  box-shadow: 0.5px 0.5px 0px #888, 1px 1px 0px #888, 1.5px 1.5px 0px #888;
}
.explotada {
  background: red;
}
.casilla::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #bbb;
  border-radius: 2px;
  cursor: pointer;
}
.casilla.comprobada {
  box-shadow: none;
}
.comprobada::after,
.mostraraviso .casilla::after {
  content: none;
}

/*colores de los números*/
.cantidad0{
  color: transparent;
}
.cantidad1{
  color: blue;
}
.cantidad2{
  color: green;
}
.cantidad3{
  color: yellow;
}
.cantidad4{
  color: red;
}

/*avisos*/
.avisos {
  display: none;
}
.mostraraviso .borroso {
  filter: blur(1px);
  pointer-events: none;
  user-select: none;
  -webkit-touch-callout: none;
}
.mostraraviso .avisos {  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.avisos article {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1px;
  padding: 1rem;
}
.avisos .perdiches h2 {
  margin-bottom: 0;
  color: #d22000;
}
.avisos .ganaches h2{
  margin-bottom: 0;
  color: #126312;
}
.avisos p,
.avisos h2 {
  text-shadow: 1px 1px 1px #fff;
}
.avisos .oculto {
  display: none;
}
/*pie de página*/
footer{
  padding: 1rem;
  background: #000;
  color: #fff;
}
/*responsive*/
@media (max-width: 400px){
  #tablero {
    grid-template-columns: repeat(10, 22px);
    grid-template-rows: repeat(10, 22px);
    gap: 4px;
  }
}