/*tema*/
:root {
  --colorprimario: #627254;
  --colorsecundario: #76885b;
  --colorterciario: #ddd;
  --colorfondo: #eee;
  --colortexto: #333;
  --colormina: #bbb;
  --colorminafondo: #999;
}
/*axustes inciales*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
figure {
  margin: 0;
  padding: 0;
}
/*componentes*/
button {
  background: var(--colorprimario);
  color: var(--colorfondo);
  border: none;
  border-radius: 1rem;
  font-size: 1.1rem;
  padding: 0.2rem 1rem;
  box-shadow: 1px 1px 2px var(--colorsecundario);
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}
button:hover,
button:active {
  box-shadow: 2px 2px 8px var(--colorsecundario);
}
/**/
body {
  background: var(--colorfondo);
  font-family: sans-serif;
}
/*cabecera*/
header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--colorprimario);
  color: var(--colorfondo);
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  min-height: 90vh;
  position: relative;
  margin: 0 1rem;
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--colortexto);
}
.controles {
  width: 100%;
  max-width: 640px;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#cronometro {
  font-family: monospace;
  font-size: 1.5rem;
}
#tablero {
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: repeat(10, minmax(22px, 60px));
  grid-template-rows: repeat(10, minmax(22px, 60px));
  gap: 5px;
}
.casilla {
  position: relative;
  padding: 0px;
  aspect-ratio: 1/1;
  background: var(--colorminafondo);
  border-radius: 2px;
  box-shadow: 0.5px 0.5px 0px var(--colorminafondo),
    1px 1px 0px var(--colorminafondo), 1.5px 1.5px 0px var(--colorminafondo),
    2px 2px 0px var(--colorminafondo), 2.5px 2.5px 0px var(--colorminafondo);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: default;
  transition: box-shadow 0.2s ease-in-out;
}
.casilla:hover,
.casilla:active {
  box-shadow: 0.5px 0.5px 0px var(--colorminafondo),
    1px 1px 0px var(--colorminafondo), 1.5px 1.5px 0px var(--colorminafondo);
}
.explotada {
  background: #f00;
}
.casilla::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--colormina);
  border-radius: 2px;
  cursor: pointer;
}
.casilla.comprobada {
  box-shadow: none;
}
.comprobada::after,
.mostraraviso .casilla::after {
  content: none;
}

/*colores de los números*/
.cantidad0 {
  color: transparent;
}
.cantidad1 {
  color: blue;
}
.cantidad2 {
  color: green;
}
.cantidad3 {
  color: yellow;
}
.cantidad4 {
  color: red;
}

/*avisos*/
.avisos {
  visibility: hidden;
  width: 100%;
  height: 210px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}
.mostraraviso .borroso {
  filter: blur(1px);
  pointer-events: none;
  user-select: none;
  -webkit-touch-callout: none;
}
.mostraraviso .avisos {
  visibility: visible;
}
.avisos article {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1px;
  padding: 1rem;
}
.avisos .perdiches h2 {
  margin-bottom: 0;
  color: #f00;
}
.avisos .ganaches h2 {
  margin-bottom: 0;
  color: #470;
}
.avisos p,
.avisos h2 {
  color: var(--colortexto);
  text-shadow: 1px 1px 1px #fff;
}
.avisos .oculto {
  display: none;
}
/*pie de página*/
footer {
  padding: 1rem;
  background: var(--colorprimario);
  color: var(--colorfondo);
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer p {
  font-size: 1rem;
  font-style: italic;
}
footer a svg {
  width: 200px;
  height: auto;
  margin: 0 auto;
  color: var(--colorsecundario);
  transition: color .4s ease-in-out;
}
footer a:hover svg {
  color: var(--colorfondo);
}